.mydiv{
    margin:2px;
    margin-bottom:3px;
    padding:10px;
    background-color: rgb(13, 101, 13);
    font-family: "Lucida Console", "Courier New", monospace;
    color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.navbar{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap:wrap;
    background-color: rgb(241, 237, 233);
    padding-bottom:30px;

}

.div2{
    margin-top:0;
    margin-bottom:20px;
    background-color: antiquewhite;
    padding:20px;
    color:rgb(2, 72, 2);
}
#ww{
    border-radius:50%;
    margin:30px;
    
    
   
}
.images{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    flex-wrap: wrap;
    align-items: center; 
   
}
.text{
    margin:30px;
    padding:50px 50px;

}
.main{
    margin-top:30px;
    margin-bottom:0;
    background-color:rgb(213, 207, 207);
    padding-top:20px;
    padding-left:50px;
    font-family: "Lucida Console", "Courier New", monospace;
}
#pp{
    padding-left: 80px;
    border-radius:40px;
}
.ind-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.ind-images2{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.ind-images4{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mainimages{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom:0;


}
.baristatext1{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.baristatext2{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.baristatext3{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact{
    
    display:flex;
    justify-content: space-evenly;
    
    padding-top:15px;
    padding-bottom:15px;
    background-color: rgb(2, 72, 2);
    color:aliceblue;
    display:flex;
    flex-direction: column;
    
    
    

}


.contact{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sm{
    display:flex;
    gap:10px;
}
#h1{
    max-width:50px;
}